<nav class="navbar navbar-expand-lg  navbar-dark bg-dark" >
  <div class="container-fluid" >
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" >
      <ul class="navbar-nav">
        
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['']">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['RegitroAnteproyectos']" >Anteproyecto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['LitarAnteProyectos']" >ListaAnteproyecto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['Lista']" >Lista item</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['crearItem']">Regitro de Items</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['TodosLosComponentes']">TodosLosComponentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['sugerencias']">Sugerencia</a>
        </li>
      </ul>
    </div>
  </div>
</nav>