<div class="cuadro">
    <ul>
      <li><a routerLink="/CrearDescripcionTema">Creacion Descripcion Del Tema</a></li>
      <li><a routerLink="/ListarDescripcion">Listado de Descripcion Del Tema</a></li>
      <li><a routerLink="/PlanteamientoProblema">Creacion De Planteamiento Del Problema </a></li>
      <li><a routerLink="/ListaPlanteamiento">Lista Del Planteamiento Del Problema</a></li>
      <li><a routerLink="/Hipotesis">Crear Hipotesis 5</a></li>
      <li><a routerLink="/ListarHipotesis">Listar Hipotesis</a></li>
      <li><a routerLink="/Objectivo">Objectivo General</a></li>
      <li><a routerLink="/ListarObjectivo">Lista De Objectivo General</a></li>
      <li><a routerLink="/Titulo">Crear Titulo</a></li>
      <li><a routerLink="/ListarTitulo">Lista De Titulo</a></li>
      <li><a routerLink="/Justificacion">Crear Justificacion</a></li>
      <li><a routerLink="/Listarjustificacion">Lista De Justificacion</a></li>
    </ul>
  </div>
  
