<body>
    <div class="container">
        <div class="text-center">
          <h3 class="h3">Lista de Sugerencias</h3>
          <button class="btn btn-add" routerLink="/sugerencias">Agregar Nuevos Planteamiento</button>
        </div>
        <h3 *ngIf="TablaSugerencia.length == 0" style="margin-top: 3px; color: red; text-align: center;">no hay datos</h3>
        <div class="row row-cols-1 row-cols-md-3 g-4" *ngIf="TablaSugerencia.length > 0">
          <div class="col" *ngFor="let objectoSugerencia of TablaSugerencia">
            <div class="card h-100 text-center">
              <label for="">
                <span>
                  <img src="../../../assets/ItemsImagen.jpg" alt="" width="200px">
                </span>
              </label>
              <label for="">
                <span>Sugerencias: {{ objectoSugerencia.SugerenciaTema }}</span>
              </label>
              <div>
                <i class="fas fa-edit fa-lg text-info mr-2" [routerLink]="['/EditarSugerencias/', objectoSugerencia.id]"></i>
                <i (click)="BorrarSugerencia(objectoSugerencia.id)" class="fas fa-trash-alt fa-lg text-danger"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>

  

