<body>
    <div class="proyecto" id="proyecto"></div>
    <h1 class="titulo">{{TextoRecursivo}}</h1>
    <span *ngIf="estado && CrearSugerencia.invalid">Campos en Blancos</span>
    <form [formGroup]="CrearSugerencia" (ngSubmit)="DosEstado()">
        
        <div class="form-group" id="form-group">
            <label for="Descripcion" class="form-label">Sugerencias</label>
            <textarea class="form-control" id="Descripcion" rows="3" formControlName="SugerenciaTema"></textarea>
         </div>
         <div class="btn-group mt-2">
            <button type="submit"  class="btn btn-dark btn-lg">Enviar</button>
            
            <a class="btn btn-secondary m-2 p-2 rounded-pill" routerLinkActive="active" [routerLink]="['/ListarSugerencias']">Guardarlo Borrador</a>
            
        </div>
        

    </form>
</body>
